body {
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

h1 {
  display: none;
}

#list {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 30%;
  border-radius: 0.1875rem;
  box-shadow: 0 0.125rem 0.5rem rgb(0 0 0 / 15%);
}

.heading {
  display: flex;
  flex-direction: column;
  border-bottom: 0.0625rem solid #e2e2e2;
}

textarea,
input {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  padding: 1.5rem 0.5rem 0.5rem 0.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

.heading textarea {
  border-bottom: 0.0625rem solid #e2e2e2;
  padding-left: 1rem;
}

.heading input {
  font-style: italic;
  padding: 1.7rem 1.7rem 1.7rem 1rem;
}

button {
  order: 1;
  background-color: #efefef;
  color: #808080;
  border: none;
  padding: 1rem;
}

button:hover {
  text-decoration: underline;
  color: #000;
  cursor: pointer;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 0.0625rem solid #e2e2e2;
}

.task textarea {
  flex: 2;
}

.task input {
  margin-left: 1rem;
}

.fa-trash-alt {
  margin-right: 1rem;
}
